<!DOCTYPE html>
<html>
    <head>
        <title>Ingredients</title>
        <script src="http://unpkg.com/htmx.org@1.9.10"></script>

        <style>
            table { border-collapse: collapse; width: 100%; }
            th, td { padding: 8px; border: 1px solid #ccc; }
            input { padding: 6px; width: 300px; }
        </style>
    </head>
    <body>
        <h1>Ingredients</h1>
        <script>
            document.body.addEventListener('html.responseError', e => {
                console.error('HTMX ERROR:', e.detail);
            });
        </script>
        <input
            type="text"
            name="q"
            placeholder="Search ingredients..."
            hx-get="/ingredients/search"
            hx-trigger="keyup changed delay:300ms"
            hx-target="#ingredient-table-body"
            hx-indicator="#loading"
            hx-swap="innerHTML"
        />

        <span id="loading" style="display:none;">Searching...</span>

        <form
            method="post"
            hx-post="/ingredients"
            hx-target="#ingredient-table-body"
            hx-swap="afterbegin"
        >
            <input type="text" name="name" placeholder="Ingredient Name" required />
            <input type="text" name="base_unit" placeholder="Unit (lb, ea, cs)" />
            <button type="submit">Add</button>
        </form>

        <form
            hx-post="/ingredients/import"
            hx-encoding="multipart/form-data"
            hx-target="#ingredient-table-body"
            hx-swap="afterbegin"
        >
            <input type="file" name="file" accept=".csv" required />
            <button type="submit">Import CSV</button>
        </form>

        <table>
            <thead>
                <tr>
                    <th>Name</th> 
                    <th>Unit</th>
                </tr>
            </thead>
            <tbody id="ingredient-table-body">
                    {% include "ingredients/_rows.html" %}
            </tbody>
        </table>
        
    </body>
</html>